<form class="edit-user-form" [formGroup]="editUserForm" #formDirective="ngForm"
      (ngSubmit)="onSubmit(formDirective)" *ngIf="isUserLoaded">

  <mat-form-field>
    <mat-label>First name:</mat-label>
    <input formControlName="firstName" type="text" matInput placeholder="Enter first name">
    <mat-error *ngIf="editUserForm.controls['firstName'].invalid">
      {{getErrorMessage(editUserForm.controls['firstName'])}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name:</mat-label>
    <input formControlName="lastName" type="text" matInput placeholder="Enter last name">
    <mat-error *ngIf="editUserForm.controls['lastName'].invalid">
      {{getErrorMessage(editUserForm.controls['lastName'])}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Login:</mat-label>
    <input formControlName="login" type="text" matInput placeholder="Enter login">
    <mat-error *ngIf="editUserForm.controls['login'].invalid">
      {{getErrorMessage(editUserForm.controls['login'])}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>email:</mat-label>
    <input formControlName="email" type="text" matInput placeholder="Enter email">
    <mat-error *ngIf="editUserForm.controls['email'].invalid">
      {{getErrorMessage(editUserForm.controls['email'])}}
    </mat-error>
  </mat-form-field>

  <mat-selection-list formControlName="roles" >
    <h4>Select role:</h4>
    <mat-list-option *ngFor="let role of roles" [value]="role">
      {{role}}
    </mat-list-option>
    <mat-error *ngIf="editUserForm.controls['roles'].invalid">
      {{getErrorMessage(editUserForm.controls['roles'])}}
    </mat-error>
  </mat-selection-list>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input formControlName="date" matInput [matDatepicker]="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit">Edit user</button>

</form>
