<div id="logo-container"><img src="../../../assets/batcat.png" alt="Batcat"></div>
<batcat-main-menu></batcat-main-menu>
<div class="logout-container" *ngIf="!authService.isAuthenticated()">
  <a mat-raised-button color="primary" routerLink="/log-in" routerLinkActive="active"
     ariaCurrentWhenActive="page">Log in</a>
</div>

<div class="logout-container" *ngIf="authService.isAuthenticated()">
  <a mat-raised-button color="primary" routerLink="/log-in" routerLinkActive="active"
     ariaCurrentWhenActive="page" (click)="deleteToken()">Log out</a>
</div>
