#logo-container {
  display: flex;
  align-items: center;
  flex: 0 0 100px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.logout-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
